{#
/**
 * @file type_questionnaires_entity.html.twig
 * Default theme implementation to present Type de questionnaires data.
 *
 * This template is used when viewing Type de questionnaires pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_type_questionnaires_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('type_questionnaires_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
